@charset 'utf-8';

html, body {
    margin: 0;
    padding: 0;
    background: royalblue;    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 70px;
}

header {
    p {
        color: #fff;
    }
}

footer {
    p {
        color: yellowgreen;
    }

}

